footer {
	padding: 25px 0;
	background: $charcoal;
	color: $white;

	a {
		color: $white;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include mobile-landscape {
			flex-direction: row;
			justify-content: space-between;

			& > * {
				width: 33.3333%;
			}
		}

		.nav {
			padding: 25px 0;

			@include mobile-landscape {
				text-align: center;
			}

			a {
				font-size: 0.875em;
				text-transform: uppercase;

				&::after {
					content: '·';
				}
				
				&:last-of-type {
					&::after {
						content: '';
					}
				}
			}
		}

		.copyright {
			p {
				font-size: 0.875em;

				@include mobile-landscape {
					text-align: right;
				}
			}
		}



	}

}