header {
	padding: 20px 0;
	background: $white;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		#header-logo {
			max-width: 150px;

			@include desktop {
				max-width: 180px;
			}
		}


		h5 {
			display: none;

			@include tablet-landscape {
				display: block;
				color: $red;
				font-size: 1.25em;

				a {
					color: $red;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}



	#toggle {
		width: 34px;
	    cursor: pointer;
	    padding: 8px 5px 8px 5px;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	    margin-right: 0;

		@include tablet-landscape {
			display: none;
		}


		.patty {
		    width: 30px;
		    height: 3px;
		    background: $red;
		    transition: all 0.3s;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 30px;
			    height: 3px;
			    background: $red;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			}
			&:before {
			    top: -8px;
			}
			&:after {
			    top: 8px;
			}
		}
	}

	&.open {

		#toggle .patty {
			background: none;

			&:after {
			    top: 0;
			    transform: rotate(45deg);
			}
			&:before {
			    top: 0;
			    transform: rotate(-45deg);
			}
		}

	}

}

nav {
	background: $red;
	padding: 20px 0;
	display: none;

	@include tablet-landscape {
		display: block !important;

		.wrapper {
			display: flex;
			justify-content: center;

			a {
				display: inline-block;
				padding: 5px 0;
				margin: 0 20px;
			}
		}
	}

	a {
		color: $white;
		display: block;
		text-align: center;
		padding: 10px 0;
		font-weight: 500;
		font-size: 1.125em;
	}

}


section#mobile-contact-header {
	background: $red;
	color: $white;
	padding: 10px 0;

	@include tablet-landscape {
		display: none;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	h5 {
		font-size: 0.875em;
	}

	a {
		color: $white;

		&:hover {
			text-decoration: underline;
		}
	}


}