body.home {

	section#hero {
		height: 260px;

		@include mobile-landscape {
			height: 420px;
		}

		@include tablet-landscape {
			height: 690px;
		}

		.wrapper {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
		}

		h1 {
			text-transform: uppercase;
			color: $white;
			line-height: 1.25em;
			font-size: 1.5em;
			margin: 0 0 20px 0;	

			@include mobile-landscape {
				font-size: 2.25em;
				line-height: 1.125em;
			}

			@include tablet-landscape {
				font-size: 3.75em;
				line-height: 1.125em;
				margin: 0 0 50px 0;
			}

			span {
				background: $red;
				box-shadow: 10px 0 0 $red, -10px 0 0 $red;
			}
		}

		h3 {
			color: $white;
			font-size: 1.125em;
			line-height: 1.25em;
			margin: 0 0 20px 0;	
			max-width: 200px;

			@include mobile-landscape {
				font-size: 1.5em;
				line-height: 1.125em;
				max-width: 100%;
			}

			@include tablet-landscape {
				font-size: 2.25em;
				line-height: 1.125em;
				margin: 0 0 50px 0;
			}

			span {
				background: $blue;
				box-shadow: 10px 0 0 $blue, -10px 0 0 $blue;
			}
		}

		h5.tel {
			color: $black;
			font-size: 1.125em;
			line-height: 1.25em;

			@include mobile-landscape {
				font-size: 1.75em;
			}

			@include tablet-landscape {
				font-size: 3em;
			}

			span.label {
				text-transform: uppercase;
				font-size: 0.75em;
				background: $yellow;
				box-shadow: 10px 0 0 $yellow, -10px 0 0 $yellow;
				display: inline-block;
				transform: translateY(5px);

				@include tablet-portrait {
					font-size: 0.5em;
					transform: translateY(10px);
				}
			}

			span.phone {
				display: inline-block;
				padding: 5px 0 3px 0;
				background: $yellow;
				box-shadow: 10px 0 0 $yellow, -10px 0 0 $yellow;
			}
		}


	}

	section#areas-of-practice {
		background: $blue;
		color: $white;
		text-align: center;
		padding: 25px 0;

		.headline {
			padding-bottom: 10px;

			h3 {
				text-transform: uppercase;
				font-size: 1.5em;

				@include tablet-landscape {
					font-size: 2em;
				}
			}
		}

		.list {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			.item {
				padding: 10px 25px;

				p {
					font-size: 1em;

					@include tablet-landscape {
						font-size: 1.125em;
					}
				}
			}
		}
	}



	.info {
		color: $blue;

		a {
			text-decoration: underline;
		}

		p, ul, ol {
			font-size: 1.125em;
			line-height: 1.25em;
		}
		* + p,
		* + ol,
		* + ul {
			padding: 20px 0 0 0;
		}

		ul, ol {
			padding-left: 20px;
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal;
		}
	}


	section#your-rights {

		.wrapper {
			max-width: 800px;
		}

		h3, h4, h5 {
			text-align: center;

			@include tablet-portrait {
				text-align: left;
			}
		}

		h3 {
			text-transform: uppercase;
			font-weight: 900;
			color: $red;
			font-size: 5em;
			line-height: 1em;

			@include tablet-portrait {
				font-size: 6.5em;
				margin: -10px 0 0 0;
			}

			@include desktop {
				font-size: 7.75em;
			}
		}

		h4 {
			font-weight: 400;
			margin: -5px 0 0 0;

			@include tablet-portrait {
				font-size: 1.25em;
			}

			@include desktop {
				font-size: 1.5em;
				margin: -10px 0 0 5px;
			}
		}

		h5 {
			font-family: $libre;
			font-style: italic;
			font-weight: normal;
			padding: 10px 0;
			color: #aaaaaa;

			@include tablet-portrait {
				font-size: 0.875em;
			}

			@include desktop {
				margin: 0 0 0 5px;
			}
		}

		.info {
			padding: 25px 0 0 0;
		}

		.content {

			& + .content {
				padding-top: 75px;
				border-top: 1px solid $red;
				margin-top: 75px;
			}

			@include tablet-portrait {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.header,
				.info {
					width: calc(50% - 25px);
					padding: 0;
				}

				&.fcra {
					.info {
						order: -1;
					}

					.header {
						h3, h4 {
							text-align: right;
						}
						
					}
				}
			}
		}


		.personal-injury {
			h3 {
				font-size: 3.5em;
				text-transform: none;


				@include tablet-portrait {
					font-size: 4.5em;
				}

				@include desktop {
					font-size: 5.5em;
				}
			}			
		}


	}


	section#my-practice {
		.wrapper {
			max-width: 1000px;
		}


		.outcomes {
			padding: 100px 0;

			.outcome {
				h3 {
					font-weight: 900;
					color: $red;
					font-size: 2em;
					padding: 0 0 5px 0;

					@include tablet-portrait {
						font-size: 2.5em;
					}

					@include desktop {
						font-size: 3em;
					}
				}

				p {
					font-family: $libre;
					font-size: 0.8125em;
					line-height: 1.25em;

					@include tablet-portrait {
						font-size: 1em;
						line-height: 1.375em;
					}
				}
			}


			.outcome + .outcome {
				padding: 75px 0 0 0;

				@include tablet-portrait {
					padding: 100px 0 0 0;
				}
			}

		}

		.testimonials {

			.testimonial {

				@include tablet-portrait {
					margin: 0 auto;
					max-width: 600px;
					padding: 100px 0 0 0;
				}

				@include desktop {
					padding: 150px 0 0 0;

				}

				blockquote {
					padding: 0;
					margin: 0;

					p {
						font-family: $libre;
						font-size: 1.25em;
						line-height: 1.5em;
						font-style: italic;
						text-align: center;

						@include tablet-portrait {
							font-size: 1.75em;
						}

						@include desktop {
							font-size: 2.25em;
						}
					}
				}

				cite {
					font-style: normal;
					font-weight: 900;
					color: $red;
					text-align: center;
					padding: 20px 0 0 0;
					display: block;

					@include tablet-portrait {
						font-size: 1.5em;
					}
				}
			}

			.testimonial + .testimonial {
				padding: 75px 0 0 0;

				@include tablet-portrait {
					padding: 100px 0 0 0;
				}
			}


		}


		.content {
			@include tablet-portrait {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				.outcomes,
				.info {
					width: 42.5%;
					padding: 0;
				}

				.testimonials {
					width: 100%;
				}
			}
		}

		
	}

	section#what-it-costs {

		.wrapper {
			max-width: 1100px;
		}


		.header {
			padding: 50px 0 0 0;

			h3 {
				text-transform: uppercase;
				font-weight: 900;
				color: $red;
				font-size: 2em;
				line-height: 1em;

				@include tablet-portrait {
					font-size: 3em;
					margin: -10px 0 0 0;
				}

				@include desktop {
					font-size: 4em;
				}
			}

			h4 {
				font-weight: 400;
				color: $blue;
				font-weight: 700;
				text-transform: uppercase;
				padding: 20px 0 20px 0;
				font-size: 1.25em;

				@include desktop {
					font-size: 1.5em;
				}
			}

			h5 {
				font-size: 1.5em;

				@include tablet-portrait {
					font-size: 1.875em;
				}
				span {
					display: inline-block;
					padding: 5px 0 3px 0;
					background: $yellow;
					box-shadow: 10px 0 0 $yellow, -10px 0 0 $yellow;
				}

			}
		}

		.note {
			text-align: center;
			padding: 50px 0 0 0;
			max-width: 600px;
			margin: 0 auto;

			@include tablet-portrait {
				padding: 100px 0 0 0;
			}

			p {
				font-family: $libre;
				font-size: 0.875em;
				line-height: 1.5em;
				font-style: italic;
			}
		}

		.content {
			@include tablet-portrait {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				.header,
				.info {
					width: 45%;
					padding: 0;
				}

				.note {
					width: 100%;
				}
			}
		}
	}

	section#contact {

		.wrapper {
			max-width: 900px;
		}

		.social {

			h3 {
				font-family: $libre;
				font-style: italic;
				font-size: 2em;
				line-height: 1.25em;
				font-weight: normal;

				@include tablet-portrait {
					font-size: 3em;
				}
			}

			.links {
				padding: 25px 0 0 0;
				display: flex;
				flex-wrap: wrap;

				@include tablet-portrait {
					padding: 50px 0 0 0;
				}
				
				h4 {
					width: 100%;
					font-size: 1.125em;
					text-transform: uppercase;
					font-weight: normal;
					letter-spacing: 0.02em;
					padding: 0 0 10px 0;
				}

				a {
					width: 32px;
					height: 32px;
					display: block;
					margin: 0 20px 0 0;
					background-size: 100%;
					background-repeat: no-repeat;
					background-position: 0 0;

					&.facebook {
						background-image: url(images/facebook.png);
					}

					&.linkedin {
						background-image: url(images/linkedin.png);
					}
				}
			}

			.badges {
				padding-top: 50px;
			}
		}

		.contact-info {
			padding: 50px 0 0 0;

			h5 {
				font-size: 1.125em;
				text-transform: uppercase;
				font-weight: normal;
				letter-spacing: 0.02em;
			}

			h4 + h5 {
				padding: 25px 0 0 0;

				@include tablet-portrait {
					padding: 50px 0 0 0;
				}
			}

			h4 {
				font-size: 2em;
				line-height: 1em;

				a {
					color: $white;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.map {
				padding-top: 50px;

				iframe {
					width: 100%;
					height: 300px;
				}
			}
		}

		.content {
			@include tablet-portrait {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				.social,
				.contact-info {
					width: 45%;
					padding: 0;
				}


			}
		}


	}


}