section#blog {
	padding: 0 0 50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.alm-reveal {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	article {
		width: 100%;

		@include tablet-portrait {
			width: 45%;

			&:nth-child(even) {
				top: -80px;
			}
		}

		.info {
			background: $white;
			padding: 40px;
			box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
			margin: 0 auto;
			width: 90%;
			top: -40px;

			@include tablet-portrait {
				padding: 30px;
			}

			@include tablet-landscape {
				padding: 40px;
			}

			span.date {
				display: block;
				font-weight: 700;
				padding: 0 0 20px 0;
				font-size: 0.875em;
				color: #1a1a1a;
			}

			h3 {
				font-size: 2em;
				padding: 0 0 20px 0;

				@include tablet-portrait {
					font-size: 1.5em;
				}

				@include tablet-landscape {
					font-size: 2em;
				}

				a {
					color: $blue;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			p {
				font-family: $libre;
				font-size: 0.9375em;
				line-height: 1.6em;

				@include tablet-portrait {
					font-size: 0.875em;
					line-height: 1.75em;
				}

				@include tablet-landscape {
					font-size: 0.9375em;
					line-height: 1.6em;
				}
			}
		}

	}


	.alm-btn-wrap {
		display: flex;
		justify-content: center;

		button#load-more {
			border: none;
			background: #fafafa;
			border: 2px solid $red;
			color: $red;
			border-radius: 5px;
			font-family: $yantramanav;
			font-weight: 900;
			display: block;
			font-size: 1.5em;
			line-height: 1em;
			padding: 8px 20px 6px;
			margin: 40px 0 0 0;

			&.done {
				display: none;
			}

			&:hover {
				background: $red;
				color: #fafafa;
			}


			&:focus, &:active {
				outline: none;
			}
		}
	}


}

section#blog-header {
	padding: 50px 0 50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 720px;
	margin: 0 auto;

	@include tablet-portrait {
		padding: 50px 0 150px 0;
	}

	.header {
		width: 70%;
		text-align: center;
		border-top: 1px solid #d5d5d5;
		border-bottom: 1px solid #d5d5d5;
		padding: 25px 0;

		@include tablet-landscape {
			padding: 50px 0;
			margin: 0;
			width: 47.5%;
		}

		em {
			font-family: $libre;
			color: #1a1a1a;
			font-size: 0.875em;
			padding: 0 0 10px 0;
			display: block;

			@include tablet-landscape {
				font-size: 1.125em;
			}
		}

		h2 {
			font-weight: 900;
			color: $red;
			font-size: 2em;

			@include tablet-landscape {
				font-size: 3em;
			}
		}

	}

	.photo {
		width: 30%;
		transform: rotate(-4deg);

		@include tablet-landscape {
			width: 47.5%;
			order: -1;
			transform: rotate(0);
		}

		img {
			margin: 0 auto;
			border: 5px solid $white;
			box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);

			@include tablet-landscape {
				border: 10px solid $white;
				box-shadow: none;
			}
		}
	}


}

body.blog,
body.archive {
	background: #fafafa;
}

body.tag {

	section#blog-header {

		.header {
			width: 100%;



			em {
				font-family: $libre;
				color: #1a1a1a;
				font-size: 0.875em;
				padding: 0 0 10px 0;
				display: block;

				@include tablet-landscape {
					font-size: 1.125em;
				}
			}

			h2 {
				font-weight: 900;
				color: $red;
				font-size: 2em;

				@include tablet-landscape {
					font-size: 3em;
				}
			}

		}

	}
}