body {
	background: $white;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px; 
	padding: 0 25px;
    transition: padding 0.2s ease-in;

    @include tablet-portrait {
		padding: 0 50px;
    }

	@media screen and (min-width: 1260px) {
		padding: 0;
	}
}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}


section#main {

	section.subsection {
		padding: 75px 0;

		@include tablet-landscape {
			padding: 150px 0;
		}

		&.gray {
			background: $off-white;
		}

		&.red {
			background: $red;
			color: $white;
		}
	}

}