html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea {
	color: $slate;
	font: 400 100%/1 $yantramanav;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $yantramanav;
	font-weight: bold;
}

a {
	color: $blue;
	transition: color 0.2s ease-in-out;
}


section#main {

	section.subsection:not(.red) {
		h2 {
			text-align: center;
			font-family: $libre;
			color: $blue;
			font-style: italic;
			font-weight: normal;
			font-size: 1.5em;
			padding: 0 0 50px 0;

			@include mobile-landscape {
				font-size: 1.875em;
			}

			&:before,
			&:after {
				content: " ";
				display: inline-block;
				border-top: 1px solid $red;
				width: 50px;
				height: 1px;
				position: relative;
				top: -5px;

				@include mobile-landscape {
					width: 100px;
				}
			}

			&:before {
				left: -20px;
			}
			&:after {
				right: -20px;
			}

		}

	}

	section.subsection.red {
		h2 {
			text-align: center;
			font-family: $yantramanav;
			font-weight: 900;
			text-transform: uppercase;
			font-size: 1.75em;
			padding: 0 0 50px 0;

			@include mobile-landscape {
				font-size: 1.75em;
			}

			&:before,
			&:after {
				content: " ";
				display: inline-block;
				border-top: 1px solid $white;
				width: 50px;
				height: 1px;
				position: relative;
				top: -5px;

				@include mobile-landscape {
					width: 100px;
				}
			}

			&:before {
				left: -20px;
			}
			&:after {
				right: -20px;
			}

		}
	}

}