/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #eee;
$charcoal: #3a3a3a;
$slate: #2a2a2a;
$black: #000;


$red: #bb2025;
$blue: #3b5081;
$yellow: #fff600;



/* Typography
----------------------------------*/
$yantramanav: 'Yantramanav', sans-serif;
$libre: 'Libre Baskerville', serif;