@charset "UTF-8";
/*

    Theme Name: Ron Daniels Law
    Theme URI: http://rondanielslaw.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of Ron Daniels Law
    Version: 1.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
/* Media Queries
----------------------------------*/
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Selection  */
::-moz-selection {
  background: #3b5081;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #3b5081;
  color: #fff;
  text-shadow: none; }

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Border-Box */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

html, input, textarea {
  -webkit-font-smoothing: antialiased; }

body {
  text-rendering: optimizeLegibility; }

body, input, textarea {
  color: #2a2a2a;
  font: 400 100%/1 "Yantramanav", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yantramanav", sans-serif;
  font-weight: bold; }

a {
  color: #3b5081;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out; }

section#main section.subsection:not(.red) h2 {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  color: #3b5081;
  font-style: italic;
  font-weight: normal;
  font-size: 1.5em;
  padding: 0 0 50px 0; }
  @media screen and (min-width: 568px) {
    section#main section.subsection:not(.red) h2 {
      font-size: 1.875em; } }
  section#main section.subsection:not(.red) h2:before, section#main section.subsection:not(.red) h2:after {
    content: " ";
    display: inline-block;
    border-top: 1px solid #bb2025;
    width: 50px;
    height: 1px;
    position: relative;
    top: -5px; }
    @media screen and (min-width: 568px) {
      section#main section.subsection:not(.red) h2:before, section#main section.subsection:not(.red) h2:after {
        width: 100px; } }
  section#main section.subsection:not(.red) h2:before {
    left: -20px; }
  section#main section.subsection:not(.red) h2:after {
    right: -20px; }

section#main section.subsection.red h2 {
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.75em;
  padding: 0 0 50px 0; }
  @media screen and (min-width: 568px) {
    section#main section.subsection.red h2 {
      font-size: 1.75em; } }
  section#main section.subsection.red h2:before, section#main section.subsection.red h2:after {
    content: " ";
    display: inline-block;
    border-top: 1px solid #fff;
    width: 50px;
    height: 1px;
    position: relative;
    top: -5px; }
    @media screen and (min-width: 568px) {
      section#main section.subsection.red h2:before, section#main section.subsection.red h2:after {
        width: 100px; } }
  section#main section.subsection.red h2:before {
    left: -20px; }
  section#main section.subsection.red h2:after {
    right: -20px; }

body {
  background: #fff; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  -webkit-transition: padding 0.2s ease-in;
  -o-transition: padding 0.2s ease-in;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 768px) {
    .wrapper {
      padding: 0 50px; } }
  @media screen and (min-width: 1260px) {
    .wrapper {
      padding: 0; } }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

section#main section.subsection {
  padding: 75px 0; }
  @media screen and (min-width: 1024px) {
    section#main section.subsection {
      padding: 150px 0; } }
  section#main section.subsection.gray {
    background: #fafafa; }
  section#main section.subsection.red {
    background: #bb2025;
    color: #fff; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  z-index: 100;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.4; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 20px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: 20px; }
  @media screen and (min-width: 1280px) {
    .slick-prev {
      left: 40px; }
      [dir="rtl"] .slick-prev {
        left: auto;
        right: 40px; } }
  .slick-prev:before {
    background: url(images/left-arrow.png) no-repeat 0 0;
    width: 60px;
    height: 60px;
    content: '';
    display: block; }

.slick-next {
  right: 20px; }
  [dir="rtl"] .slick-next {
    left: 20px;
    right: auto; }
  @media screen and (min-width: 1280px) {
    .slick-next {
      right: 40px; }
      [dir="rtl"] .slick-next {
        left: 40px;
        right: auto; } }
  .slick-next:before {
    background: url(images/right-arrow.png) no-repeat 0 0;
    width: 60px;
    height: 60px;
    content: '';
    display: block; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 5px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  @media screen and (min-width: 568px) {
    .slick-dots {
      bottom: 15px; } }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      width: 12px;
      height: 12px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: ' ';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        background-color: #fff;
        opacity: 0.4;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: #fff;
      opacity: 0.85; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
header {
  padding: 20px 0;
  background: #fff; }
  header .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    header .wrapper #header-logo {
      max-width: 150px; }
      @media screen and (min-width: 1280px) {
        header .wrapper #header-logo {
          max-width: 180px; } }
    header .wrapper h5 {
      display: none; }
      @media screen and (min-width: 1024px) {
        header .wrapper h5 {
          display: block;
          color: #bb2025;
          font-size: 1.25em; }
          header .wrapper h5 a {
            color: #bb2025; }
            header .wrapper h5 a:hover {
              text-decoration: underline; } }
  header #toggle {
    width: 34px;
    cursor: pointer;
    padding: 8px 5px 8px 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    margin-right: 0; }
    @media screen and (min-width: 1024px) {
      header #toggle {
        display: none; } }
    header #toggle .patty {
      width: 30px;
      height: 3px;
      background: #bb2025;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      header #toggle .patty:after, header #toggle .patty:before {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background: #bb2025;
        position: absolute;
        z-index: 1;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      header #toggle .patty:before {
        top: -8px; }
      header #toggle .patty:after {
        top: 8px; }
  header.open #toggle .patty {
    background: none; }
    header.open #toggle .patty:after {
      top: 0;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    header.open #toggle .patty:before {
      top: 0;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }

nav {
  background: #bb2025;
  padding: 20px 0;
  display: none; }
  @media screen and (min-width: 1024px) {
    nav {
      display: block !important; }
      nav .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        nav .wrapper a {
          display: inline-block;
          padding: 5px 0;
          margin: 0 20px; } }
  nav a {
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
    font-size: 1.125em; }

section#mobile-contact-header {
  background: #bb2025;
  color: #fff;
  padding: 10px 0; }
  @media screen and (min-width: 1024px) {
    section#mobile-contact-header {
      display: none; } }
  section#mobile-contact-header .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  section#mobile-contact-header h5 {
    font-size: 0.875em; }
  section#mobile-contact-header a {
    color: #fff; }
    section#mobile-contact-header a:hover {
      text-decoration: underline; }

footer {
  padding: 25px 0;
  background: #3a3a3a;
  color: #fff; }
  footer a {
    color: #fff; }
  footer .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (min-width: 568px) {
      footer .wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        footer .wrapper > * {
          width: 33.3333%; } }
    footer .wrapper .nav {
      padding: 25px 0; }
      @media screen and (min-width: 568px) {
        footer .wrapper .nav {
          text-align: center; } }
      footer .wrapper .nav a {
        font-size: 0.875em;
        text-transform: uppercase; }
        footer .wrapper .nav a::after {
          content: '·'; }
        footer .wrapper .nav a:last-of-type::after {
          content: ''; }
    footer .wrapper .copyright p {
      font-size: 0.875em; }
      @media screen and (min-width: 568px) {
        footer .wrapper .copyright p {
          text-align: right; } }

/*

    ----------------------------------------------------------------------
                                03 Templates
    ----------------------------------------------------------------------

*/
body.home section#hero {
  height: 260px; }
  @media screen and (min-width: 568px) {
    body.home section#hero {
      height: 420px; } }
  @media screen and (min-width: 1024px) {
    body.home section#hero {
      height: 690px; } }
  body.home section#hero .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  body.home section#hero h1 {
    text-transform: uppercase;
    color: #fff;
    line-height: 1.25em;
    font-size: 1.5em;
    margin: 0 0 20px 0; }
    @media screen and (min-width: 568px) {
      body.home section#hero h1 {
        font-size: 2.25em;
        line-height: 1.125em; } }
    @media screen and (min-width: 1024px) {
      body.home section#hero h1 {
        font-size: 3.75em;
        line-height: 1.125em;
        margin: 0 0 50px 0; } }
    body.home section#hero h1 span {
      background: #bb2025;
      -webkit-box-shadow: 10px 0 0 #bb2025, -10px 0 0 #bb2025;
              box-shadow: 10px 0 0 #bb2025, -10px 0 0 #bb2025; }
  body.home section#hero h3 {
    color: #fff;
    font-size: 1.125em;
    line-height: 1.25em;
    margin: 0 0 20px 0;
    max-width: 200px; }
    @media screen and (min-width: 568px) {
      body.home section#hero h3 {
        font-size: 1.5em;
        line-height: 1.125em;
        max-width: 100%; } }
    @media screen and (min-width: 1024px) {
      body.home section#hero h3 {
        font-size: 2.25em;
        line-height: 1.125em;
        margin: 0 0 50px 0; } }
    body.home section#hero h3 span {
      background: #3b5081;
      -webkit-box-shadow: 10px 0 0 #3b5081, -10px 0 0 #3b5081;
              box-shadow: 10px 0 0 #3b5081, -10px 0 0 #3b5081; }
  body.home section#hero h5.tel {
    color: #000;
    font-size: 1.125em;
    line-height: 1.25em; }
    @media screen and (min-width: 568px) {
      body.home section#hero h5.tel {
        font-size: 1.75em; } }
    @media screen and (min-width: 1024px) {
      body.home section#hero h5.tel {
        font-size: 3em; } }
    body.home section#hero h5.tel span.label {
      text-transform: uppercase;
      font-size: 0.75em;
      background: #fff600;
      -webkit-box-shadow: 10px 0 0 #fff600, -10px 0 0 #fff600;
              box-shadow: 10px 0 0 #fff600, -10px 0 0 #fff600;
      display: inline-block;
      -webkit-transform: translateY(5px);
          -ms-transform: translateY(5px);
              transform: translateY(5px); }
      @media screen and (min-width: 768px) {
        body.home section#hero h5.tel span.label {
          font-size: 0.5em;
          -webkit-transform: translateY(10px);
              -ms-transform: translateY(10px);
                  transform: translateY(10px); } }
    body.home section#hero h5.tel span.phone {
      display: inline-block;
      padding: 5px 0 3px 0;
      background: #fff600;
      -webkit-box-shadow: 10px 0 0 #fff600, -10px 0 0 #fff600;
              box-shadow: 10px 0 0 #fff600, -10px 0 0 #fff600; }

body.home section#areas-of-practice {
  background: #3b5081;
  color: #fff;
  text-align: center;
  padding: 25px 0; }
  body.home section#areas-of-practice .headline {
    padding-bottom: 10px; }
    body.home section#areas-of-practice .headline h3 {
      text-transform: uppercase;
      font-size: 1.5em; }
      @media screen and (min-width: 1024px) {
        body.home section#areas-of-practice .headline h3 {
          font-size: 2em; } }
  body.home section#areas-of-practice .list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    body.home section#areas-of-practice .list .item {
      padding: 10px 25px; }
      body.home section#areas-of-practice .list .item p {
        font-size: 1em; }
        @media screen and (min-width: 1024px) {
          body.home section#areas-of-practice .list .item p {
            font-size: 1.125em; } }

body.home .info {
  color: #3b5081; }
  body.home .info a {
    text-decoration: underline; }
  body.home .info p, body.home .info ul, body.home .info ol {
    font-size: 1.125em;
    line-height: 1.25em; }
  body.home .info * + p,
  body.home .info * + ol,
  body.home .info * + ul {
    padding: 20px 0 0 0; }
  body.home .info ul, body.home .info ol {
    padding-left: 20px; }
  body.home .info ul {
    list-style-type: disc; }
  body.home .info ol {
    list-style-type: decimal; }

body.home section#your-rights .wrapper {
  max-width: 800px; }

body.home section#your-rights h3, body.home section#your-rights h4, body.home section#your-rights h5 {
  text-align: center; }
  @media screen and (min-width: 768px) {
    body.home section#your-rights h3, body.home section#your-rights h4, body.home section#your-rights h5 {
      text-align: left; } }

body.home section#your-rights h3 {
  text-transform: uppercase;
  font-weight: 900;
  color: #bb2025;
  font-size: 5em;
  line-height: 1em; }
  @media screen and (min-width: 768px) {
    body.home section#your-rights h3 {
      font-size: 6.5em;
      margin: -10px 0 0 0; } }
  @media screen and (min-width: 1280px) {
    body.home section#your-rights h3 {
      font-size: 7.75em; } }

body.home section#your-rights h4 {
  font-weight: 400;
  margin: -5px 0 0 0; }
  @media screen and (min-width: 768px) {
    body.home section#your-rights h4 {
      font-size: 1.25em; } }
  @media screen and (min-width: 1280px) {
    body.home section#your-rights h4 {
      font-size: 1.5em;
      margin: -10px 0 0 5px; } }

body.home section#your-rights h5 {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-weight: normal;
  padding: 10px 0;
  color: #aaaaaa; }
  @media screen and (min-width: 768px) {
    body.home section#your-rights h5 {
      font-size: 0.875em; } }
  @media screen and (min-width: 1280px) {
    body.home section#your-rights h5 {
      margin: 0 0 0 5px; } }

body.home section#your-rights .info {
  padding: 25px 0 0 0; }

body.home section#your-rights .content + .content {
  padding-top: 75px;
  border-top: 1px solid #bb2025;
  margin-top: 75px; }

@media screen and (min-width: 768px) {
  body.home section#your-rights .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    body.home section#your-rights .content .header,
    body.home section#your-rights .content .info {
      width: calc(50% - 25px);
      padding: 0; }
    body.home section#your-rights .content.fcra .info {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; }
    body.home section#your-rights .content.fcra .header h3, body.home section#your-rights .content.fcra .header h4 {
      text-align: right; } }

body.home section#your-rights .personal-injury h3 {
  font-size: 3.5em;
  text-transform: none; }
  @media screen and (min-width: 768px) {
    body.home section#your-rights .personal-injury h3 {
      font-size: 4.5em; } }
  @media screen and (min-width: 1280px) {
    body.home section#your-rights .personal-injury h3 {
      font-size: 5.5em; } }

body.home section#my-practice .wrapper {
  max-width: 1000px; }

body.home section#my-practice .outcomes {
  padding: 100px 0; }
  body.home section#my-practice .outcomes .outcome h3 {
    font-weight: 900;
    color: #bb2025;
    font-size: 2em;
    padding: 0 0 5px 0; }
    @media screen and (min-width: 768px) {
      body.home section#my-practice .outcomes .outcome h3 {
        font-size: 2.5em; } }
    @media screen and (min-width: 1280px) {
      body.home section#my-practice .outcomes .outcome h3 {
        font-size: 3em; } }
  body.home section#my-practice .outcomes .outcome p {
    font-family: "Libre Baskerville", serif;
    font-size: 0.8125em;
    line-height: 1.25em; }
    @media screen and (min-width: 768px) {
      body.home section#my-practice .outcomes .outcome p {
        font-size: 1em;
        line-height: 1.375em; } }
  body.home section#my-practice .outcomes .outcome + .outcome {
    padding: 75px 0 0 0; }
    @media screen and (min-width: 768px) {
      body.home section#my-practice .outcomes .outcome + .outcome {
        padding: 100px 0 0 0; } }

@media screen and (min-width: 768px) {
  body.home section#my-practice .testimonials .testimonial {
    margin: 0 auto;
    max-width: 600px;
    padding: 100px 0 0 0; } }

@media screen and (min-width: 1280px) {
  body.home section#my-practice .testimonials .testimonial {
    padding: 150px 0 0 0; } }

body.home section#my-practice .testimonials .testimonial blockquote {
  padding: 0;
  margin: 0; }
  body.home section#my-practice .testimonials .testimonial blockquote p {
    font-family: "Libre Baskerville", serif;
    font-size: 1.25em;
    line-height: 1.5em;
    font-style: italic;
    text-align: center; }
    @media screen and (min-width: 768px) {
      body.home section#my-practice .testimonials .testimonial blockquote p {
        font-size: 1.75em; } }
    @media screen and (min-width: 1280px) {
      body.home section#my-practice .testimonials .testimonial blockquote p {
        font-size: 2.25em; } }

body.home section#my-practice .testimonials .testimonial cite {
  font-style: normal;
  font-weight: 900;
  color: #bb2025;
  text-align: center;
  padding: 20px 0 0 0;
  display: block; }
  @media screen and (min-width: 768px) {
    body.home section#my-practice .testimonials .testimonial cite {
      font-size: 1.5em; } }

body.home section#my-practice .testimonials .testimonial + .testimonial {
  padding: 75px 0 0 0; }
  @media screen and (min-width: 768px) {
    body.home section#my-practice .testimonials .testimonial + .testimonial {
      padding: 100px 0 0 0; } }

@media screen and (min-width: 768px) {
  body.home section#my-practice .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    body.home section#my-practice .content .outcomes,
    body.home section#my-practice .content .info {
      width: 42.5%;
      padding: 0; }
    body.home section#my-practice .content .testimonials {
      width: 100%; } }

body.home section#what-it-costs .wrapper {
  max-width: 1100px; }

body.home section#what-it-costs .header {
  padding: 50px 0 0 0; }
  body.home section#what-it-costs .header h3 {
    text-transform: uppercase;
    font-weight: 900;
    color: #bb2025;
    font-size: 2em;
    line-height: 1em; }
    @media screen and (min-width: 768px) {
      body.home section#what-it-costs .header h3 {
        font-size: 3em;
        margin: -10px 0 0 0; } }
    @media screen and (min-width: 1280px) {
      body.home section#what-it-costs .header h3 {
        font-size: 4em; } }
  body.home section#what-it-costs .header h4 {
    font-weight: 400;
    color: #3b5081;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0 20px 0;
    font-size: 1.25em; }
    @media screen and (min-width: 1280px) {
      body.home section#what-it-costs .header h4 {
        font-size: 1.5em; } }
  body.home section#what-it-costs .header h5 {
    font-size: 1.5em; }
    @media screen and (min-width: 768px) {
      body.home section#what-it-costs .header h5 {
        font-size: 1.875em; } }
    body.home section#what-it-costs .header h5 span {
      display: inline-block;
      padding: 5px 0 3px 0;
      background: #fff600;
      -webkit-box-shadow: 10px 0 0 #fff600, -10px 0 0 #fff600;
              box-shadow: 10px 0 0 #fff600, -10px 0 0 #fff600; }

body.home section#what-it-costs .note {
  text-align: center;
  padding: 50px 0 0 0;
  max-width: 600px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    body.home section#what-it-costs .note {
      padding: 100px 0 0 0; } }
  body.home section#what-it-costs .note p {
    font-family: "Libre Baskerville", serif;
    font-size: 0.875em;
    line-height: 1.5em;
    font-style: italic; }

@media screen and (min-width: 768px) {
  body.home section#what-it-costs .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    body.home section#what-it-costs .content .header,
    body.home section#what-it-costs .content .info {
      width: 45%;
      padding: 0; }
    body.home section#what-it-costs .content .note {
      width: 100%; } }

body.home section#contact .wrapper {
  max-width: 900px; }

body.home section#contact .social h3 {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 2em;
  line-height: 1.25em;
  font-weight: normal; }
  @media screen and (min-width: 768px) {
    body.home section#contact .social h3 {
      font-size: 3em; } }

body.home section#contact .social .links {
  padding: 25px 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media screen and (min-width: 768px) {
    body.home section#contact .social .links {
      padding: 50px 0 0 0; } }
  body.home section#contact .social .links h4 {
    width: 100%;
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.02em;
    padding: 0 0 10px 0; }
  body.home section#contact .social .links a {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 20px 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0; }
    body.home section#contact .social .links a.facebook {
      background-image: url(images/facebook.png); }
    body.home section#contact .social .links a.linkedin {
      background-image: url(images/linkedin.png); }

body.home section#contact .social .badges {
  padding-top: 50px; }

body.home section#contact .contact-info {
  padding: 50px 0 0 0; }
  body.home section#contact .contact-info h5 {
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.02em; }
  body.home section#contact .contact-info h4 + h5 {
    padding: 25px 0 0 0; }
    @media screen and (min-width: 768px) {
      body.home section#contact .contact-info h4 + h5 {
        padding: 50px 0 0 0; } }
  body.home section#contact .contact-info h4 {
    font-size: 2em;
    line-height: 1em; }
    body.home section#contact .contact-info h4 a {
      color: #fff; }
      body.home section#contact .contact-info h4 a:hover {
        text-decoration: underline; }
  body.home section#contact .contact-info .map {
    padding-top: 50px; }
    body.home section#contact .contact-info .map iframe {
      width: 100%;
      height: 300px; }

@media screen and (min-width: 768px) {
  body.home section#contact .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    body.home section#contact .content .social,
    body.home section#contact .content .contact-info {
      width: 45%;
      padding: 0; } }

section#blog {
  padding: 0 0 50px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  section#blog .alm-reveal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  section#blog article {
    width: 100%; }
    @media screen and (min-width: 768px) {
      section#blog article {
        width: 45%; }
        section#blog article:nth-child(even) {
          top: -80px; } }
    section#blog article .info {
      background: #fff;
      padding: 40px;
      -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
      margin: 0 auto;
      width: 90%;
      top: -40px; }
      @media screen and (min-width: 768px) {
        section#blog article .info {
          padding: 30px; } }
      @media screen and (min-width: 1024px) {
        section#blog article .info {
          padding: 40px; } }
      section#blog article .info span.date {
        display: block;
        font-weight: 700;
        padding: 0 0 20px 0;
        font-size: 0.875em;
        color: #1a1a1a; }
      section#blog article .info h3 {
        font-size: 2em;
        padding: 0 0 20px 0; }
        @media screen and (min-width: 768px) {
          section#blog article .info h3 {
            font-size: 1.5em; } }
        @media screen and (min-width: 1024px) {
          section#blog article .info h3 {
            font-size: 2em; } }
        section#blog article .info h3 a {
          color: #3b5081; }
          section#blog article .info h3 a:hover {
            text-decoration: underline; }
      section#blog article .info p {
        font-family: "Libre Baskerville", serif;
        font-size: 0.9375em;
        line-height: 1.6em; }
        @media screen and (min-width: 768px) {
          section#blog article .info p {
            font-size: 0.875em;
            line-height: 1.75em; } }
        @media screen and (min-width: 1024px) {
          section#blog article .info p {
            font-size: 0.9375em;
            line-height: 1.6em; } }
  section#blog .alm-btn-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    section#blog .alm-btn-wrap button#load-more {
      border: none;
      background: #fafafa;
      border: 2px solid #bb2025;
      color: #bb2025;
      border-radius: 5px;
      font-family: "Yantramanav", sans-serif;
      font-weight: 900;
      display: block;
      font-size: 1.5em;
      line-height: 1em;
      padding: 8px 20px 6px;
      margin: 40px 0 0 0; }
      section#blog .alm-btn-wrap button#load-more.done {
        display: none; }
      section#blog .alm-btn-wrap button#load-more:hover {
        background: #bb2025;
        color: #fafafa; }
      section#blog .alm-btn-wrap button#load-more:focus, section#blog .alm-btn-wrap button#load-more:active {
        outline: none; }

section#blog-header {
  padding: 50px 0 50px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 720px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    section#blog-header {
      padding: 50px 0 150px 0; } }
  section#blog-header .header {
    width: 70%;
    text-align: center;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    padding: 25px 0; }
    @media screen and (min-width: 1024px) {
      section#blog-header .header {
        padding: 50px 0;
        margin: 0;
        width: 47.5%; } }
    section#blog-header .header em {
      font-family: "Libre Baskerville", serif;
      color: #1a1a1a;
      font-size: 0.875em;
      padding: 0 0 10px 0;
      display: block; }
      @media screen and (min-width: 1024px) {
        section#blog-header .header em {
          font-size: 1.125em; } }
    section#blog-header .header h2 {
      font-weight: 900;
      color: #bb2025;
      font-size: 2em; }
      @media screen and (min-width: 1024px) {
        section#blog-header .header h2 {
          font-size: 3em; } }
  section#blog-header .photo {
    width: 30%;
    -webkit-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
            transform: rotate(-4deg); }
    @media screen and (min-width: 1024px) {
      section#blog-header .photo {
        width: 47.5%;
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
            -ms-flex-order: -1;
                order: -1;
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
                transform: rotate(0); } }
    section#blog-header .photo img {
      margin: 0 auto;
      border: 5px solid #fff;
      -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1); }
      @media screen and (min-width: 1024px) {
        section#blog-header .photo img {
          border: 10px solid #fff;
          -webkit-box-shadow: none;
                  box-shadow: none; } }

body.blog,
body.archive {
  background: #fafafa; }

body.tag section#blog-header .header {
  width: 100%; }
  body.tag section#blog-header .header em {
    font-family: "Libre Baskerville", serif;
    color: #1a1a1a;
    font-size: 0.875em;
    padding: 0 0 10px 0;
    display: block; }
    @media screen and (min-width: 1024px) {
      body.tag section#blog-header .header em {
        font-size: 1.125em; } }
  body.tag section#blog-header .header h2 {
    font-weight: 900;
    color: #bb2025;
    font-size: 2em; }
    @media screen and (min-width: 1024px) {
      body.tag section#blog-header .header h2 {
        font-size: 3em; } }

body.single-post {
  background: #fafafa; }
  body.single-post section#featured-image {
    max-width: 1200px;
    margin: 0 auto;
    height: 260px; }
    @media screen and (min-width: 568px) {
      body.single-post section#featured-image {
        height: 420px; } }
    @media screen and (min-width: 1024px) {
      body.single-post section#featured-image {
        height: 550px;
        margin: 40px auto 0 auto; } }
    @media screen and (min-width: 1280px) {
      body.single-post section#featured-image {
        height: 690px; } }
  body.single-post article {
    font-family: "Libre Baskerville", serif;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
    max-width: 90%;
    margin: 0 auto;
    top: -40px; }
    @media screen and (min-width: 768px) {
      body.single-post article {
        left: -2%;
        top: -120px; } }
    @media screen and (min-width: 1024px) {
      body.single-post article {
        left: -4%;
        top: -180px;
        max-width: 800px; } }
    @media screen and (min-width: 1280px) {
      body.single-post article {
        left: -6%;
        top: -240px; } }
    body.single-post article .article-header,
    body.single-post article .article-body,
    body.single-post article .article-footer {
      background: #fff;
      padding: 30px; }
      @media screen and (min-width: 568px) {
        body.single-post article .article-header,
        body.single-post article .article-body,
        body.single-post article .article-footer {
          padding: 40px; } }
    body.single-post article .article-header {
      padding-bottom: 0; }
      body.single-post article .article-header h1 {
        font-weight: 900;
        color: #3b5081;
        font-size: 2em; }
        @media screen and (min-width: 768px) {
          body.single-post article .article-header h1 {
            font-size: 3em; } }
      body.single-post article .article-header span.date {
        font-family: "Yantramanav", sans-serif;
        font-size: 1em;
        display: block;
        padding: 0 0 10px 0; }
      body.single-post article .article-header span.author {
        font-family: "Yantramanav", sans-serif;
        font-weight: bold;
        color: #bb2025;
        font-size: 1.125em;
        display: block;
        padding: 10px 0 0 0; }
    body.single-post article .article-body > * + * {
      padding: 30px 0 0 0; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body > * + * {
          padding: 40px 0 0 0; } }
    body.single-post article .article-body p, body.single-post article .article-body ul, body.single-post article .article-body ol {
      font-size: 1em;
      line-height: 1.6666em; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body p, body.single-post article .article-body ul, body.single-post article .article-body ol {
          font-size: 1.125em; } }
    body.single-post article .article-body ul, body.single-post article .article-body ol {
      max-width: 560px;
      padding-left: 30px; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body ul, body.single-post article .article-body ol {
          padding-left: 60px; } }
      body.single-post article .article-body ul li, body.single-post article .article-body ol li {
        margin: 0 0 10px 0; }
    body.single-post article .article-body ul li {
      list-style-type: disc; }
    body.single-post article .article-body ol li {
      list-style-type: decimal; }
    body.single-post article .article-body h1, body.single-post article .article-body h2, body.single-post article .article-body h3, body.single-post article .article-body h4, body.single-post article .article-body h5, body.single-post article .article-body h6 {
      color: #3b5081;
      padding-top: 40px; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body h1, body.single-post article .article-body h2, body.single-post article .article-body h3, body.single-post article .article-body h4, body.single-post article .article-body h5, body.single-post article .article-body h6 {
          padding-top: 60px; } }
      body.single-post article .article-body h1 + *, body.single-post article .article-body h2 + *, body.single-post article .article-body h3 + *, body.single-post article .article-body h4 + *, body.single-post article .article-body h5 + *, body.single-post article .article-body h6 + * {
        padding-top: 10px; }
    body.single-post article .article-body h2, body.single-post article .article-body h1 {
      font-size: 1.5em; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body h2, body.single-post article .article-body h1 {
          font-size: 1.75em; } }
    body.single-post article .article-body h3 {
      font-size: 1.25em;
      text-transform: uppercase;
      letter-spacing: 0.02em; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body h3 {
          font-size: 1.5em; } }
    body.single-post article .article-body h4 {
      font-size: 1em; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body h4 {
          font-size: 1.25em; } }
    body.single-post article .article-body h5, body.single-post article .article-body h6 {
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 0.02em; }
    body.single-post article .article-body a {
      text-decoration: underline; }
    body.single-post article .article-body blockquote {
      padding-left: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-left: 5px solid #eee;
      max-width: 540px;
      margin: 30px 0 0 0; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body blockquote {
          font-size: 1.25em;
          margin: 40px 0 0 0; } }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body blockquote {
          margin: 40px 0 0 40px; } }
      body.single-post article .article-body blockquote p {
        font-size: 0.8125em;
        line-height: 2em; }
    body.single-post article .article-body img {
      margin: 0 0 30px 0; }
    body.single-post article .article-footer {
      padding-bottom: 60px; }
      body.single-post article .article-footer .tags {
        border-top: 1px solid #d5d5d5;
        padding-top: 20px; }
        body.single-post article .article-footer .tags a {
          font-family: "Yantramanav", sans-serif;
          text-transform: uppercase;
          font-size: 0.875em;
          font-weight: bold;
          color: #8a8a8a;
          display: inline-block; }
          body.single-post article .article-footer .tags a + a {
            margin-left: 10px; }
          body.single-post article .article-footer .tags a:before {
            content: '#'; }
      body.single-post article .article-footer .about {
        padding-top: 40px; }
        body.single-post article .article-footer .about p {
          font-size: 0.875em;
          font-style: italic;
          color: #8a8a8a; }
      body.single-post article .article-footer .share {
        padding-top: 40px; }
        body.single-post article .article-footer .share h5 {
          text-transform: uppercase;
          color: #bb2025; }
        body.single-post article .article-footer .share .links {
          padding-top: 20px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
          body.single-post article .article-footer .share .links a {
            display: block; }
            body.single-post article .article-footer .share .links a + a {
              margin-left: 10px; }
